.bookmark {
  background-color: lavender;
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px 10px;
  border-radius: 50%;
  border: none;
  font-size: xx-large;
}

.bookmarkdark {
  background-color: black;
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px 10px;
  border-radius: 50%;
  border: none;
  font-size: xx-large;
}

.tags {
  margin: 10px;
  border-radius: 5px;
}
