body {
  background-color: rgb(27, 45, 45);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(248, 244, 239);
}

.quiz {
  background-color: rgb(140, 140, 158);
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}

.cards {
  margin: 15px;
  background-color: rgb(140, 140, 158);
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  border-color: black;
  border: 5px;
  border-style: double;
  position: relative;
}

.answer {
  padding: 40px;
}

.button:hover {
  background-color: #724cac; /* Green */
  color: white;
}

.button {
  background-color: rgb(140, 140, 158);
  color: rgb(248, 244, 239);
  border: 2px solid #251443;
  padding: 32px 16px;
  border-radius: 5px;
}

.bookmark {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px 10px;
  background-color: rgb(140, 140, 158);
  border-radius: 50%;
  border: none;
  font-size: xx-large;
}

.bookmark:focus {
  background-color: black;
}

a:hover {
  background-color: black;
  color: white;
}
footer {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
}

.pages {
  background-color: rgb(140, 140, 158);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

.tags {
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
a {
  font-size: x-large;
  text-decoration: none;
}
