body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quiz {
  background-color: rgb(182, 165, 240);
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}
.pages {
  background-color: lavender;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
}

footer.pages {
  background-color: lavender;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

footer a:hover {
  background-color: black;
  color: white;
}

footer a {
  font-size: x-large;
  text-decoration: none;
}

a {
  font-size: x-large;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: white;
}
.bookmark:focus {
  background-color: black;
}
