body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quiz {
  background-color: cornflowerblue;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}
.cards {
  margin: 15px;
  background-color: lavender;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  border-color: black;
  border: 5px;
  border-style: double;
  position: relative;
}
.answer {
  padding: 40px;
}
button:hover {
  background-color: #724cac; /* Green */
  color: white;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #6336b6;
  padding: 32px 16px;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
}
.pages {
  background-color: lavender;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.bookmark {
  position: absolute;
  top: 0;
  right: 0;
  background-color: ;
}
